<div class="app">

  <div class="container header">
    <img src="../assets/sustainable_logo.png" alt="app logo" class="header-logo">
    <img src="../assets/bayer_logo.png" alt="bayer logo" class="header-logo">
  </div>

  <div class="outer">
    <div class="nav">
      <div class="container">
        <div class="nav-carousel">
          <div class="nav-carousel-item">
            <div class="nav-carousel-item--icon"><img src="../assets/tech_icon.png"></div>
            <div class="nav-carousel-item--label">Application Technology</div>
          </div>
          <div class="nav-carousel-item">
            <div class="nav-carousel-item--icon"><img src="../assets/tech_icon.png"></div>
            <div class="nav-carousel-item--label">Application Technology</div>
          </div>
          <div class="nav-carousel-item">
            <div class="nav-carousel-item--icon"><img src="../assets/tech_icon.png"></div>
            <div class="nav-carousel-item--label">Application Technology</div>
          </div>
          <div class="nav-carousel-item">
            <div class="nav-carousel-item--icon"><img src="../assets/tech_icon.png"></div>
            <div class="nav-carousel-item--label">Application Technology</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container banner">
      <img src="../assets/banner_image.jpg" class="banner-image">
      <div class="banner-content">
        <h1>The Sustainable Agriculture Competence Center (SACC)</h1>
        <div>The Sustainable Agriculture Competence Center (SACC) has been launched in order to continue strengthening Bayer’s approach to be recognized as the partner of choice for Sustainable Agriculture. </div>
      </div>
    </div>

    <div class="quote-card"></div>
  </div>

  <div class="item-container container">
    <div class="item">
      <div class="item-icon item-common"></div>
      <div class="item-label item-common">on going activities</div>
    </div>
    <div class="item">
      <div class="item-icon item-common"></div>
      <div class="item-label item-common">on going activities</div>
    </div>
    <div class="item">
      <div class="item-icon item-common"></div>
      <div class="item-label item-common">on going activities</div>
    </div>
  </div>

</div>
